{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {katana, {git, "https://github.com/inaka/erlang-katana", {tag, "1.0.0"}}}
]}.

{project_plugins, [
    rebar3_lint
]}.

{relx, [{release, {evervote_server, "0.1.0"}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [evervote]}
]}.
